$grapeFruit: #ed5565;
$grapeFruit-strong: #da4453;
$bitterSweet: #fc6e51;
$bitterSweet-strong: #e9573f;
$sunFlower: #ffce54;
$sunFlower-strong: #f6bb42;
$grass: #40d468;
$grass-strong: #8cc152;
$aqua: #4fc1e9;
$aqua-strong: #3bafda;
$blueJeans: #5d9cec;
$blueJeans-strong: #4a89dc;
$mint: #48cfad;
$mint-strong: #37bc9b;
$lavander: #ac92ec;
$lavander-strong: #967adc;
$pinkRose: #ec87c0;
$pinkRose-strong: #d770ad;
$lightGray: #f5f7fa;
$lightGray-strong: #e6e9ed;
$mediumGray: #ccd1d9;
$mediumGray-strong: #aab2bd;
$darkGray: #656d78;
$darkGray-strong: #434a54;
